
/*navbar*/
.my_nav_definition{
    width: 100%;
    height: 90px;

}

.my_mobilelogo_container{
    width: 50px;
}



.my_ptcenter_height{
    height: calc(100vh - 90px);
    margin-top: 90px;
}


/*menu laterale sx*/
.my_sidebar_definition{
   height: 100%;
    width: 80px;
    background-image: url("../img/sidebar-bg.png");
    background-color: #051E34;
}


/*header&main*/

.my_botright_definition{
    width: calc(100vw - 80px);
    height: 100%;
}

/*MEDIA QUERY--------------------------*/
@media screen and (min-width:992px) {
   
   
    .my_sidebar_definition{
        
         width: 150px;
     }

     .my_botright_definition{
        width: calc(100vw - 150px);
    }
    
}