/*common*/

.my_bg_grey{
    background-color: #F8F9FA;
}


.my_bgsearch_grey{
    background-color: #eaeaea;;
}


/*navbar*/
.my_nav_definition{
    width: 100%;
    height: 90px;
    background-color: #F8F9FA;

}

.my_mobilelogo_container{
    width: 50px;
}



.my_ptcenter_height{
    height: calc(100vh - 90px);
    margin-top: 90px;
}


/*menu laterale sx*/
.my_sidebar_definition{
   height: 100%;
    width: 80px;
    background-image: url("../img/sidebar-bg.png");
    background-color: #051E34;
}


/*header&main*/

.my_botright_definition{
    width: calc(100% - 80px);
    height: 100%;
}

/*main table*/
.my_table td:first-child,
.my_table th:first-child{
    width: auto;
    text-align: start;

}

.my_table td:not(first-child),
.my_table th:not(first-child){
    width: 130px;
    text-align: center;
}

.my_img_dimension{
    width: 30px;
}







/*MEDIA QUERY--------------------------*/
@media screen and (min-width:992px) {
   
   
    .my_sidebar_definition{
        
         width: 150px;
     }

     .my_botright_definition{
        width: calc(100% - 150px);
    }
    
}